
    <!DOCTYPE html>
    <!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
    <html lang="en" dir="ltr">
      <head>
        <meta charset="UTF-8">
        <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-g8fTlB7jGtCvxz7cSg+9Z/N9/F0o0P/OEj8C/yUJEY0NcN/U0LrjgYX5I5mOcO3Kj5W8QI0P+OJwfvCGkf39W8A==" crossorigin="anonymous" /> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/style2.css">
        <link rel="stylesheet" href="../static/css/bootstrap2.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <!-- Boxicons CDN Link -->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>
            <div class="sidebar">
              <div class="logo-details"> <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <a class="navbar-brand" href="#">DDAENG
                      <span>Real Property</span>
                  </a>
             <!--  <a href="homepage.php" ><i><span class="logo_name">  K&M</span></pre></i></a> -->
              </div>
                <ul class="nav-links">
                  <li>
                    <a href="adminhome" >
                      <i class='bx bx-grid-alt' ></i>
                      <span class="links_name">Home</span>
                    </a>
                  </li>
                  <li>
                    <a href="customerdisp">
                      <i class='bx bx-user-pin' ></i>
                      <span class="links_name">Customer</span>
                    </a>
                  </li>
                  <li>
                      <a href="staffadd">
                        <i class='bx bx-user' ></i>
                        <span class="links_name">Staff</span>
                      </a>
                    </li>
                  <li>
                    <a href="propertyadd">
                      <i class='bx bx-building-house' ></i>
                      <span class="links_name">Property Type</span>
                    </a>
                  </li>
                  
          
                  <li>
                  <a href="categoryadd">
                      <i class='bx bx-home-circle' ></i>
                      <span class="links_name">Category</span>
                    </a>
                  </li>
                  <li>
                      <a href="subcategoryadd">
                          <i class='bx bx-book-alt' ></i>
                          <span class="links_name">Subcategory</span>
                      </a>
                  </li>
                  <li>
                    <a href="buildingadd">
                      <i class='bx bx-home' ></i>
                      <span class="links_name">Building</span>
                    </a>
                  </li>
              <!--     <li>
                    <a href="service.php">
                      <i class='bx bx-list-ul' ></i>
                      <span class="links_name">Service</span>
                    </a>
                  </li> -->
                  
                  <li>
                    <a href="salesdisp">
                      <i class='bx bx-cart' ></i>
                      <span class="links_name">Sales</span>
                    </a>
                  </li>
                  <li>
                    <a href="proposalreport">
                      <i class='bx bxs-report'></i>
                      <span class="links_name">Proposal report</span>
                    </a>
                  </li>
                  <li>
                    <a href="login">
                      <i class='bx bx-log-out'></i>
                      <span class="links_name">Log out</span>
                    </a>
                  </li>
                </ul>
            </div>
            <section class="home-section">
              <nav>
                <div class="sidebar-button">
                  <i class='bx bx-menu sidebarBtn'></i>
                  <span class="dashboard">Dashboard</span>
                </div>
                <div class="search-box">
                  <input type="text" placeholder="Search...">
                  <i class='bx bx-search' ></i>
                </div>
                </nav>


{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<script>alert("{{ message }}")</script>
		{% endfor %}
	{% endif %}
{% endwith %}