{% include 'public_header.html' %}
   <!-- <h1>Login</h1>
    <form action="" method="POST">
        
        

        <table>
            <tr>
                <th>username</th>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <th>password</th>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td><input type="submit" vale="submit" name="submit"></td>
            </tr>
        </table>
    </form>  --> 
  <div class="modal-body">
        
        <div class="login px-4 mx-auto mw-100">
            <h5 class="text-center mb-4">Login Now</h5>
            <center>
            <form action="" method="post">
                <font color="white">
                <div class="lg-main">
                    <div class="lg-2nd">
                    <table class="table" style="width:500px;">
                        <tr>
                            <center><th>Username</th></label>
                      <td>
                    <input type="text" class="form-control" name="name"  required=""></td>
                </tr>
                
               
                    
                        <tr>
                    <th>Password</th>
                    <td><input type="password" class="form-control" name="password"  required=""></td>
                </tr>
            
            <tr>
                <span style="padding-left: 200px;"></span>
                <td align="center" colspan="2"><input type="submit" name="login" value="Login" class="btn btn-danger"></td>
            </tr>
            </div></table>
        </font>
    </form>
                <p class="text-center pb-4">
                    <a href="#">Forgot your password?</a>
                </p>
                <p class="text-center pb-4">
                    Don't have an account?
                    <a href="reg" data-toggle="modal" data-target="#exampleModalCenter2">Create one now</a>
                </p>
                </div>
            </div>
               <!--  </font>
            </form> -->
        </center>
        </div>
    </div>
</div>
</div>
</div>
<style>

    form{
        box-shadow: 2px 4px 6px lightgray,-2px -1px 6px lightgray;
        width: 500px;
        height: 250px;
        margin-top: 100px;
        margin-bottom: 120px;
        padding-top: 40px;
        background-color: rgba(0,0,0,0.09);
    }
    
    .psw{
        position: relative;
        top: 10px;
    }
    
    .btn-sec{
        position: relative;
        top: 20px;
    }
    
    
    body{
        background: url('/static/assets/img/slide/lastest.jpg');
    }
    
    </style> 
        
    {% include 'footer.html' %}